@font-face {
    src: url("../fonts/Arimo-Regular.woff2") format('woff2');
    font-family: "Arimo";
    font-style: normal;
}
p{
    font-family: "Arimo";
    color: #6c4d38;
    font-size: 39px;
}

li{
    font-family: "Arimo";
}
 h2{
    font-family: "Arimo";
 }

  h1{
    font-family: "Arimo";
 }

 body.dark-theme .ocnov-text{
    font-family: "Arimo";
 }

a{
    font-family: "Arimo";
 }

.ocnov-text{
    font-family: "Arimo";
 }

 h3{
    font-family: "Arimo";
 }

 .info_txt2 p1{
    font-family: "Arimo";
 }

 .info_txt3 p1{
     font-family: "Arimo";
 }

 .zagol h4{
     font-family: "Arimo";
 }

 .feature-title {
    font-family: "Arimo";
 }

 .otziv__title{
     font-family: "Arimo";
 }

 .katalog h{
    font-family: "Arimo";
 }

 .product-price {
    font-family: "Arimo";
 }

 .section-title {
    font-family: "Arimo";
 }

 .section-content{
    font-family: "Arimo";
 }

 .description {
    font-family: "Arimo";
 }

 .checkbox-label{
    font-family: "Arimo";
 }

 .social-text{
    font-family: "Arimo";
 }