<footer>
    <div class="logo_footer">
        <picture>
        <source media="(max-width: 767px)" srcset="./assets/images/logo-mobile.webp">
        <source media="(max-width: 1279px)" srcset="./assets/images/logo2.webp">
        <img src="./assets/images/logo.webp" alt="Логотип">
        </picture>
    </div>
    <div class="txt_footer">
        <p>Адрес:г. Москва, ул. Ткацкая, д. 15, бутик 3
Телефон:  +7 (495) 123-45-67
E-mail:  hello@velvet-whisper.ru
График работы:Пн-Пт: 10:00–20:00Сб-Вс: 11:00–19:00</p>
    </div>
</footer>