<shap>
    <div class="shap_txt">
        <a href="./index.html"><h>Три кармана</h></a>
    </div>
    <div class="poloc">
        <img src="./assets/images/Vector.webp" class="menu__icon"> <!-- Добавил класс -->
    </div>
</shap>

<!-- Добавляем модальное окно -->
<div class="overlay">
    <div class="overlay__content">
        <span class="overlay__close">&times;</span>
        <nav class="overlay__nav">
            <a href="index.html">ГЛАВНАЯ</a>
            <a href="index2.html">КАТАЛОГ</a>
            <a href="index3.html">О НАС</a>
            <a href="index4.html">ОБРАТНАЯ СВЯЗЬ</a>
        </nav>
    </div>
</div>